body{
	padding: 0;
	margin: 0;
}
.navbar{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #d4d7de;
	width: 100%;
	height: 70px;
	z-index: 1;
}
.nav{
	display: flex;
	justify-content: right;
	list-style: none;
	margin-right: 15%;
}
.logo{
	flex: 1 1 auto;
	margin-left: 8%;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 25px;
}
a{
	margin: 15px;
	color: #000;
	text-decoration: none;
}
a:hover{
	color: #000;
}
li{
	padding: 0;
	margin: 0;
}
#all{
	display: flex;
	display: -webkit-flex;
	padding-top: 6.5rem;
	width: 900px;
	height: 500px;
}
#center{
	margin-left: 50px;
	width: 600px;
	height: 100%;
	float: left;
}
#center table{
	width: 100%;
	height: 600px;
}

.cell1{
	text-align: right;
	padding-right: 20px;
}

.cell2{
	width: 220px;
	height: 26px;
	border: 1px solid grey;
	border-radius: 6px;
	padding-left: 6px;
}
.cell3{
	width: 150px;
	height: 40px;
	background-color: #b883d4;
	text-align: center;
	border: 1px solid #b883d4;
	border-radius: 20px;
	font-size: 18px;
}
